@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

 
html {
  
  font-family: normal 100% "Lato",sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 175%;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1,h2,h3,h4,h5,h6,figcaption {
    font-family: "Raleway", sans-serif; 
}

@media only screen and (min-width: 40em) {

    html {
    font-size: 110%;
    }

}
    
@media only screen and (min-width: 70em) {
    
    html {
    font-size: 120%;
    }
}

@media only screen and (min-width: 130em) {
   
    html {
    font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


.nav li {
  display: inline-block; 
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  padding: 1em;
  color: #154BFF;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: #154BFF;
  color: #fff;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -4em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-size: 1.5em;
}

.skip-links a:focus {
    top: 0;
}

.tour {
    text-align: center;
    padding: 3.5em;
    background-color: #BFFFC3;
}
   
.logo {
    width: 4em;
    height: auto;
    margin: 0 auto;
}

.icon {
    margin: 0;
    max-width: 15em;
} 

h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
}

h2,h3 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.center {
    margin: 0 auto;
    overflow: hidden;
}


.signup {
    max-width: 15em;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

header {
     background-color: #7FCBFF;
}

footer {
     background-color: #7FCBFF;
}

.billboard {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.quote {
    position: relative;
    bottom: 200px;
    margin: 0 auto;
    font-size: 3em;
    color: #fff;
    text-align: center;
    font-family: "Raleway", sans-serif;
    line-height: 1em;
}

label {
    display: block;
    padding: 10px;
}

fieldset {
    margin-bottom: 1em;
    background-color: #BFFFC3;
    border: .5em solid #154BFF;
    text-align: center;
}

input,
select {
    font-size: 1em;
    width: 15em;
    border: none;
}

button {
    font-size: 1.25rem;
    font-family: "Righteous", cursive;
    color: #fff;
    background-color:#154BFF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: .5em auto;
}

legend {
    font-family: "Righteous", cursive;
}

.free {
    background-color: #faeca0;
}


.premium {
    background-color: #f7bfd0;
}

.ultra {
    background-color: #ffd5b6;
}

.pricing {
    text-align: center;
}

.pricing button {
    background-color: #154BFF;
    color: #fff;
}

.pricing li {
    list-style: none;
}

.faq {
    text-align: center;
    background-color: #BFFFC3;
    margin: 0 auto;
}
    

@media only screen and (min-width: 40em) {
        .center {
        width: 66%;
        margin: 0 auto;
        }
        

}



@media only screen and (min-width: 70em) {

    
}
@media only screen and (min-width: 130em) {

   
}